.wrapper
	.row
		.column.column--1-of-2.column--centered
			%h1 Home
			- if flash[:notice]
				.alert.alert--has-success= notice
			- @posts.each do |post|
				%h2= link_to post.title, post
				= link_to 'Destroy',  post,  method: :delete, data: { confirm: 'Are you sure?' }
