// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.form__input {
  border: 0;
  &:focus {
    outline: none;
  }
}
.form__input--title {
  @extend h1;
  font-family: $font-family-heading;
}
.form__input--content {
  font-family: $font-family-primary;
  resize: none;
}
