// Place all the styles related to the posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main {
	padding-top: 80px;
}

.dropzone {
	border: dashed 1px #98C6F5;
	background: rgba(#98C6F5, 0.1);
}

.dropzone .dz-message {
	font-family: $font-family-action;
}

.form__input {
  border: 0;
  &:focus {
    outline: none;
  }
}
.form__input--title {
  @extend h1;
  font-family: $font-family-heading;
}
.form__input--content {
  font-family: $font-family-primary;
  resize: none;
}
.post__title {
	margin: 10px 0;
}

.post__meta {
	clear: both;
	height: 30px;
	font-family: $font-family-secondary;
	&--right {
		float: right;
	}
	&--left {
		float: left;
	}
}

aside.actions {
	position: fixed;
	width: 260px;
	right: 0;
	top: 10vh;
	padding: 1rem;
	z-index: 100;
}

.CodeMirror,
.editor-toolbar {
	border: 0;
}

.editor-statusbar {
	font-size: 0.7em;
	font-family: $font-family-secondary;
	.guide {
		float: left;
		margin-left: 0;
	}
}

.heart {
	display: block;
	position: relative;
	width: 50px;
	height: 23px;
}

.heart .heart__img {
	position: absolute;
	top: 0;
	left: 0;
	width: 20px;
	height: 20px;
	transition: all 0.3s;
	transition-timing-function: ease;
	-webkit-transition-timing-function: ease;
}

.heart__link:hover .heart__img {
	left: -2px;
	width: 23px;
	height: 23px;
}

.heart__float {
	position: absolute;
	top: 0;
	left: -2px;
	width: 23px;
	height: 23px;
}

.heart__number {
	position: absolute;
	top: -5px;
	left: 28px;
	font-family: $font-family-secondary;
}
