// Typography // -------------------------------
$font-family-primary: 'Gentium Book Basic',Georgia, serif;
$font-family-secondary: 'Open Sans', sans-serif;
// $font-family-action: $font-family-secondary;
// Global Font Styling
$font-size-base: 22px;
// $font-size-small: $font-size-base * 0.6818 !default;
$line-height-base: 1.6;
