// Typography // -------------------------------
// $font-family-primary: 'Gentium Book Basic',Georgia, serif;
// $font-family-secondary: 'Open Sans', sans-serif;
$font-family-primary: Georgia, serif;
$font-family-secondary: Georgia, serif;
$font-family-action: 'Open Sans', sans-serif;
// Global Font Styling
$font-size-base: 22px;
$font-size-small: $font-size-base * 0.6818 !default;
$line-height-base: 1.6;
