%aside.actions
	= link_to 'New upload', new_upload_path
.wrapper
	.row
		- @uploads.each do |upload|
			.column.column--1-of-5
				= link_to upload do
					%img{:src => upload.image.square, :width => '100%'}
